[submodule "swx2_klipper_config"]
	path = swx2_klipper_config
	url = https://github.com/eugeniomiro/swx2_klipper_config.git
[submodule "voron0_klipper_config"]
	path = voron0_klipper_config
	url = https://github.com/eugeniomiro/voron0_klipper_config.git
[submodule "voron_trident_june_klipper_config"]
	path = voron_trident_june_klipper_config
	url = https://github.com/eugeniomiro/voron_trident_june_klipper_config
